
#title {
    text-align: center;
    color: #a0e8fc;
    font-size: 15px;
}

img {
    display: block;
    margin: auto;
}

#personalInfo {
    font-family:Arial, Helvetica, sans-serif;
    width: auto;
    height: 400px;
    padding: 10px;
    background-color: #e1fdcb;
    margin: 50px;
    border: 2px solid #a1da8a;
}

#yeah {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* nav bar */
ul {
    background-color: #404283 ;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	list-style-type: none;
	overflow: hidden;
	padding: 10px;
	text-align: center;
}

li {
	display: inline;
}

li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    font-size: 20px;
}

a:hover {
    background-color: #a0e8fc;
    color: #422e72;
    transition: 0.3s;
}

/* containers */
.container {
    display: grid;
    background-color: #a0e8fc59;
    border-radius: 25px;
    grid-template-columns: 50px, 50px;
    grid-auto-rows: auto;
    margin-left: 250px;
    margin-right: 250px;
}

.item1 {
    text-decoration: none;
    padding: 20px;
	grid-column: 1;
	grid-row: 1;
}

.item2 {
    text-decoration: none;
    padding: 20px;
    margin-right: 20px;
	grid-column: 2;
	grid-row: 2;
}

.item3 {
    text-decoration: none;
    padding: 20px;
	grid-column: 1;
	grid-row: 2;
}

.containerTitle {
    display: grid;
    grid-template-columns: 15px, 100px;
    grid-auto-rows: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.cont1 {
    text-decoration: none;
	grid-column: 1;
	grid-row: 1;
}

.cont2 {
    text-decoration: none;
	grid-column: 2;
	grid-row: 1;
    margin-top: 50px;
    margin-right: 200px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

/*tabs*/

.tab {
    overflow: hidden;
    border: none;
    background-color:#97ebdb;
}

.tab button {
    background-color: #97ebdb;
    cursor: pointer;
    float: left;
    border: none;
    padding: 15px;
    transition: 0.3s;
    font-size: 20px;
}

.tab button:hover {
    background-color: #4fdac1;

}

.tab button.active {
    border-top: 2px solid #97ebdb;
    border-left: 2px solid #97ebdb;
    background-color: #d1fff6;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 2px solid #97ebdb;
    border-top: none;
    background-color: #d1fff6;
}

.imgGroup {
    width: 300px;
    padding: 10 px;
    margin: 10px;
}
/* messages.html styles */

.messagesContainer {
    display: grid;
    border-radius: 25px;
    grid-template-columns: 10px, 80px;
    grid-gap: 10px;
    grid-auto-rows: auto;
    margin-left: 250px;
    margin-right: 250px;
}

.messengers {
    background-color: white;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
	grid-column: 1;
	grid-row: 1;
    border-radius: 25px;
    border: 10px solid #f0cffa;
}

.messages {
    background-color: white;
    text-decoration: none;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    grid-column: 2;
    grid-row: 1;
    border-radius: 25px;
    border: 10px solid #f0cffa;


}

/*groups*/

.groupContain {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-auto-rows: 200px;  
    margin-left: 10px;
    margin-right: 10px;
}

.g1 {
    text-decoration: none;
    grid-column: 1;
    grid-row: 1;
}

.g2 {
    text-decoration: none;
    text-align: center;
    margin: 30px;
    grid-column: 1;
    grid-row: 2;
}

.button {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0a967c;
    background-color: #97ebdb ;
    border-radius: 20px;
    margin: 20px;
    padding: 13px;
    text-decoration: none;
}

#a:hover {
    background-color: #0a967c;
    color: #97ebdb;
    transition: 0.3s;
}

#b:hover {
    background-color: #0a967c;
    color: #97ebdb;
    transition: 0.3s;
}

#c:hover {
    background-color: #0a967c;
    color: #97ebdb;
    transition: 0.3s;
}

/* people/questions */

.peopleButton {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0a967c;
    background-color: #97ebdb ;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
}

.person {
    color: white;
    text-align: center;
}
#qheader {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 170;
    margin-left: 20px;
}

.questionStyle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 20;
    margin-left: 20px;
    margin-bottom: 20px;
}

.submit {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0a967c;
    background-color: #97ebdb ;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
}