
#title {
    text-align: center;
    color: #a0e8fc;
    font-size: 15px;
}

img {
    display: block;
    margin: auto;
}

#personalInfo {
    font-family:Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #e1fdcb;
    margin: 50px;
    border: 2px solid #a1da8a;
}
/* nav bar */
ul {
    background-color: #404283 ;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	list-style-type: none;
	overflow: hidden;
	padding: 10px;
	text-align: center;
}

li {
	display: inline;
}

li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    font-size: 20px;
}

a:hover {
    background-color: #a0e8fc;
    color: #422e72;
    transition: 0.3s;
}

/* containers */
.container {
    display: grid;
    background-color: #eaf5ff;
    border-radius: 25px;
    grid-template-columns: 20px, 80px;
    grid-auto-rows: auto;
    margin-left: 250px;
    margin-right: 250px;
}

.item1 {
    text-decoration: none;
    padding: 20px;
	grid-column: 1;
	grid-row: 1;
}

.item2 {
    text-decoration: none;
    padding: 20px;
    margin-right: 20px;
	grid-column: 2;
	grid-row: 1;
}

.item3 {
    text-decoration: none;
    padding: 20px;
	grid-column: 1;
	grid-row: 2;
}

.containerTitle {
    display: grid;
    grid-template-columns: 15px, 100px;
    grid-auto-rows: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.cont1 {
    text-decoration: none;
	grid-column: 1;
	grid-row: 1;
}

.cont2 {
    text-decoration: none;
	grid-column: 2;
	grid-row: 1;
    margin-top: 50px;
    margin-right: 200px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

/*tabs*/

.tab {
    overflow: hidden;
    border: none;
    background-color:#ffa5d2;
}

.tab button {
    background-color: #ffa5d2;
    cursor: pointer;
    float: left;
    border: none;
    padding: 15px;
    transition: 0.3s;
    font-size: 20px;
}

.tab button:hover {
    background-color: #ff75ba;

}

.tab button.active {
    border-top: 2px solid #ffa5d2;
    border-left: 2px solid #ffa5d2;
    background-color: #eaf5ff;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 2px solid #ffa5d2;
    border-top: none;
}